.card{
    display:inline-block;
   
}

h6{
    text-align: left;
}

body{
    background-color: rgb(126, 113, 101);
    width: 75%;
    margin: 0 auto;
}

nav{
    background-color: rgb(255, 72, 0);
}